body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.contenedor{
    margin: 0;
    background-color: #2F4A5E;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 1px 1px 10px 10px;
}

.contenedor-button{

    

}

button{
    width: 80px;
    height: 25px;
    border: 2px solid #0f2331;
    margin: 10px;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 3px;
    background-color: #2F4A5E;
    color: white;
}

button:hover{
    background-color: #22455f;
}