body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

h1{
    color: red;
}

.contenedor{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;

}

h2{
    color: blue;
}