body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: #123148;
}

.contenedor{
    /* margin: 0;
    background-color: #2F4A5E;
    display: flex;
    padding: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1px 1px 10px 10px; */
    background-color: #2F4A5E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 1px 1px 10px 10px;

}

.contenedor-button button{
    width: 80px;
    height: 25px;
    border: 2px solid #0f2331;
    margin: 10px;
    cursor: pointer; 
    transition: background 0.3s; 
    border-radius: 3px;
    background-color: #2F4A5E;
    color: white;

}

button:hover{
    background-color: #22455f;
}

/*INPUTS*/

h3{
    margin: 20px 0 10px 0;
    text-align: center;
}

.contenedor-formulario{
    background-color: #22455f;
    margin: auto;
    padding: 20px;
    width: 250px;
    height: 280px;
    text-align: center;
    margin-top: 10%;
    border: 4px ridge #123148;

}

.contenedor-usuario{
    padding: 15px;
    text-align: left;
}

.contenedor-usuario label{
    color: white;
}

.contenedor-usuario input{
    /* box-sizing: border-box; */
    width: 100%;
    margin-top: 8px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #0f2331;
    color: white;
}

.contenedor-usuario-button{
    margin-top: 10px;
}

.button-button{
    width: 100px;
    height: 30px;
    border: 2px solid #0f2331;
    background-color: #22455f;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
}

.button-button:hover{
    background-color: #0c2335;
}

@media (max-width: 600px){
    .contenedor{
        flex-direction: column;
    }

    .contenedor-formulario{
        margin-top: 20px;
        width: 90%;
        max-width: 320px;
    }
}